<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="testTaskApp">

<head>
    <!--<div>{{title}}</div>-->
    <base href="/">
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
    <link rel="stylesheet" href="resources/css/style.css">
    <link rel="stylesheet" href="resources/css/jquery-ui.css">

    <script   src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>

    <script src="lib/angular.min.js"></script>
    <script src="lib/angular-animate.min.js"></script>
    <script src="lib/angular-aria.min.js"></script>
    <script src="lib/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <!--<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>-->
    <script src="lib/angular-material.min.js"></script>

    <script src="lib/angular-route.min.js"></script>

    <script src="controllers/services.js"></script>
    <script src="controllers/controller.js"></script>

</head>

<body ng-controller="ipCtrl" class="ng-cloak">
<md-toolbar>
    <div class="layout-row" layout-align="center center">
        <div>
            <h3>
                <span>Statistics</span>
            </h3>
        </div>
    </div>
</md-toolbar>

<section class="content">
    <section>
        {% block content %}{% endblock %}
    </section>
</section>
<md-toolbar class="footer" layout="row" layout-align="center center">
    <div>
        <span>Created by Volodymyr Sydorov </span>
        <span><a class="md-default-theme" href="#">e-mail: wladimir.sidorow@gmail.com</a> .</span>
    </div>
</md-toolbar>
</body>

</html>
